PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/geointelx
JWT_SECRET=geointelx_default_secret_key_change_in_production
NEWS_API_KEY=your_news_api_key_here
GEMINI_API_KEY=AIzaSyAGJJNpAI30pTUE9zZHiV9Jmnf_odiFPAg
